.map > .leaflet-container {
  width: 320px;
  height: 100px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map.selecting > .leaflet-container {
  height: 320px;
}

.map .leaflet-control-zoom,
.leaflet-bottom {
  display: none;
}

.map.selecting .leaflet-control-zoom,
.map.selecting .leaflet-bottom {
  display: block;
}

.leaflet-pane {
  z-index: -1 !important;
}
